/* layout */

#leftPane, #rightPane {
   height: 100%;
}

#mainPlotPane, #tablePane {
   height: 100%;
   margin-bottom: -85px;
}

#mainPlotPane {
   display: block;
}

#tablePane {
   display: none;
}

#optionsPane, #cvInfoPane {
   height: 84px;
   width: 100%;
   border-top: solid 1px #d0d0d0;
   overflow: hidden;
}

#optionsPane {
   display: block;
}

#optionsPane>div {
   display: block;
   width: 26%;
   height: 100%;
   float: left;
}

#optionsPane>div:last-child {
   width: 22%;
}

#infoPane {
   background: #fffff0;
}

#infoPane table {
   margin: 0px;
   width: auto;
   font-size: 0.75em;
   font-family: Arial, Helvetica, sans-serif;
   padding: 3px 15px;
   line-height: 1.5em;
}

#infoPane table td {
   padding: 0 8px;
   margin: 0;
   line-height: 1.2em;
   text-align: right;
   color: #807060;
}

#infoPane table td.name, #infoPane table th {
   color: #403010;
}

#cvInfoPane {
   display: none;
   color: #404040;
}

#cvInfoPane div.title {
   width: 300px;
   height: 100%;
   float: left;
   margin: 0 50px;
}

#cvInfoPane div.title h2 {
   font-size: 14px;
   font-weight: bold;
   margin: 0;
   padding: 12px 20px 1px 20px;
}

#cvInfoPane div.title p {
   color: #a0a0a0;
   font-size: 12px;
   margin: 5px 20px;
}

#cvInfoPane div.info {
   color: #606060;
   height: 100%;
   padding: 12px;
}

#cvInfoPane div.info p {
   font-size: 12px;
   margin: 0;
   padding: 0;
   line-height: 1.75em;
}

#cvInfoPane div.info p span {
   color: #303030;
   font-weight: bold;
}

.tableContent {
   width: 98%;
   height: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 10px;
   padding-bottom: 90px;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.35vh;
}

.tableContent>div {
   float: left;
   height: 100%;
   width: 23%;
   margin-right: 1%;
   margin-left: 1%;
}

.tableContent>div~div {
   float: left;
   height: 100%;
   width: 15%;
   margin-right: 1%;
}

.tableContent div h2 {
   font-size: 1em;
   margin: 1em 0;
   text-align: center;
   color: #404040;
}

.tableContent div table {
   width: 100%;
   height: 90%;
   padding: 0;
   margin: 0;
   border-spacing: 0;
   border-top: solid 1px #d0d0d0;
   border-bottom: solid 1px #d0d0d0;
}

.tableContent div table tr {
   margin: 0;
   padding: 0;
}

.tableContent div table th {
   font-size: 0.85em;
   text-align: right;
   padding: 0.25em 0.5em;
   border-bottom: solid 1px #d0d0d0;
   color: #404040;
}

.tableContent div table td {
   font-size: 0.85em;
   text-align: right;
   border-top: solid 1px #f0f0f0;
   padding: 0.25em 0.5em;
   background: #fdfdfd;
   color: #606060;
}

.tableContent div table tr.current td {
   background: #e8f3ff;
   color: #0f487f;
}

.tableContent div table tr.selected td {
   background: #fff3ef;
   color: #7f480f;
}

.tableContent div table td.name {
   text-align: left;
   color: #909090;
}

.tableContent div table tbody tr:last-child td {
   color: #303030;
   font-weight: bold;
   border-top: solid 1px #d0d0d0;         
}
